// Set your colors
$crf-red: #dd252b;
$crf-red-invert: findColorInvert($crf-red);
$primary: $crf-red;
$primary-invert: findColorInvert($primary);
$primary: $crf-red;
$crfBlue: #263052;
$crfBlue-invert: findColorInvert($crfBlue);
